*{ 
    margin:0px; 
    padding:0px;
}

#title{ 
    color:#666666;/*文本颜色*/
    text-align:center;/*文本居中*/
    background::#e5f1ff;/*文字背景色*/
    margin-top:8px;/*文本到顶部的距离*/
    margin-bottom:5px;/*文本到底部的距离*/
}

#top{ 
    text-align:center;/*文本居中*/
    border:0px solid ; /*边界*/
    margin-top:5px;
}
 
a:link{
    font-size: 22px;/*字体大小*/
    margin-left:50px;/*文本到左边的距离*/      
    color:#666666;/*文本颜色*/
    text-decoration:none;/*去掉a标签自带下划线*/
} 

a:visited{
    font-size: 22px;
    margin-left:50px;       
    color:#666666;
    text-decoration:none;
}
 
a:hover{
    font-size: 22px;
    margin-left:50px;       
    color:purple;
    text-decoration:none;
} 

a:active{
    font-size: 22px;
    margin-left:50px;       
    color:#666666;
} 

#left{
   font-size: 15px; 
   color:#000000;
   letter-spacing:4px;/*间距*/
}

/*#right{
    width:100%;
    height:100%;
    border:1px solid ; /*边界*/

#tu{
    width:100%;
    height:100%;
}

h{
    font-size:20px;
    font-weight:bold;/*字体加粗*/
}